@using MobileShop.Models.Home;

@{
    ViewBag.Title = "FinishOrder";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 style="text-align:center;">
    Vaš proizvod je naručen! <br /> Hvala na poverenju! <br /> <br />
    <img src="../Images/check.png" alt="Girl in a jacket" width="200" height="200"> <br /> <br />
     <small>Vaš MobileShopSM</small>

</h2>



