
@{
    ViewBag.Title = "iPhone";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 style="text-align:center">Od danas sa Vama, NOVI Apple iPhone 13 Pro Max!</h1>

<hr />

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <img src="../Images/iphone13pro.jpg" alt="snote" style="vertical-align: middle" width="400" height="600"></a> <br />

        </div>
        <div class="col-md-6" style="padding-top: 100px">
            <h1>OD SADA U NOVIM BOJAMA!</h1>
            <h3>Zelena, Siva, Zlatna, Plava</h3>
            <h4>
                <strong>Kapacitet:</strong> 128GB <br />
                <strong>Veličina i težina:</strong> Težina: 238 grama sa 6.7inc Ekran <br />
                <strong>Čip:</strong> Čip A15 Bionic <br />
                <strong>Kamera:</strong> 12 MP: telefoto, širokokutna i ultraširokokutna <br />
                <strong>Snimanje videozapisa:</strong> Snimanje HDR videozapisa uz Dolby Vision do 4K pri 60 fps
            </h4>

        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-8" style="padding-top:100px">
            <h3>
                JOŠ <em>TANJI!</em> <br />
                JOŠ ELEGANTNIJI!
            </h3>

            <h4>
                <strong>Face ID:</strong> Prepoznavanje lica pomoću kamere TrueDepth <br /> <br />
                <strong>Apple Pay:</strong> Plaćaj Touch ID-jem na iPhoneu u trgovinama, aplikacijama i na webu
                Dovrši kupnju pomoću Apple Paya na Macu <br /> <br />
                <strong>Videopozivi:</strong> FaceTime HD (1080p) videopozivi putem 5G ili Wi‑Fi veze
            </h4>

        </div>
       
        <div class="col-md-4">
            <img src="../Images/iphonestrana.jpg" alt="snote" style="float:left"  width="80" height="600"></a> <br />

        </div>
    </div>
</div>


<div class="container">
    <div class="row">
        <div class="col-md-4" style="padding-top:100px">
            <h3>
                MOŽE BITI SAMO TVOJ <br /> <br />

            </h3>

            <h1><strong>Za samo <br /> <del>1800€</del> 1665€</strong></h1>
        </div>

        <div class="col-md-4">
            <img src="../Images/iphoneekran.jpg" alt="snote" style="float:left" width="350" height="600"> <br />

        </div>

        <div class="col-md-2" style="padding-top:120px" >
            <h1>Tvoj Apple</h1>
        </div>

        <div class="col-md-2" style="padding-top:100px">
             
           <img src="../Images/apple.png" alt="applelogo" style="float:left" width="300" height="150">

        </div>

    </div>
</div>
