
@{
    ViewBag.Title = "Samsung";
    Layout = "~/Views/Shared/_Layout.cshtml";
}





<h1 style="text-align:center">Najnoviji Modeli S Serije Su Stigli!</h1>



<div class="container">
    <div class="row">
        <div class="col-md-4">
            <h3 style="text-align:center"><mark>Samsung Galaxy S22 Ultra</mark></h3>
            <br />
            <img src="../Images/s22ultracrni.jpg" alt="s22ultra" width="350" height="400">
            <br />
            <p>
                Kućište: Monoblok, 229 grama, 163.3x77.9x8.9 mm <br />
                Ekran: Dynamic AMOLED 2X (OLED), okvir Hole <br />
                Dimenzije: 6.8 inča, 90.2% veličina ekrana <br />
                Memorija: 128GB UFS 3.1 2.1/1.2Gbps / 8GB LPDDR5 0.5V 6Gbps <br /> <br />
                <strong>CENA: 1.500€</strong>
                <br />
                <a href="http://www.telekoplus.com/mobilni-telefoni/samsung/galaxy-s22-ultra-5g-cena/" target="_blank">DETALJNIJE</a>
            </p>
        </div>
        <div class="col-md-4">
            <h3 style="text-align:center"><mark>Samsung Galaxy Z Fold 3</mark></h3>
            <br />
            <img src="../Images/zfold.jpg" alt="s22ultra" width="350" height="400">
            <br />
            <p>
                Kućište: Monoblok, 229 grama, 163.3x77.9x8.9 mm <br />
                Ekran: Dynamic AMOLED 2X (OLED), okvir Hole <br />
                Dimenzije: 6.8 inča, 90.2% veličina ekrana <br />
                Memorija: 128GB UFS 3.1 2.1/1.2Gbps / 8GB LPDDR5 0.5V 6Gbps <br /> <br />
                <strong>CENA: 1.200€</strong>
                <br />
                <a href="https://www.samsungmobilepress.com/media-assets/galaxy_z_fold3_5g/" target="_blank">DETALJNIJE</a>
                
            </p>
        </div>
        <div class="col-md-4">
            <h3 style="text-align:center"><mark>Samsung Galaxy Tab 8</mark></h3>
            <br />
            <img src="../Images/samsung-galaxy-tab-s8-ultra.jpg" alt="samsungtab" width="300" height="400">
            <br />
            <p>
                Kućište: Monoblok, 229 grama, 163.3x77.9x8.9 mm <br />
                Ekran: Dynamic AMOLED 2X (OLED), okvir Hole <br />
                Dimenzije: 6.8 inča, 90.2% veličina ekrana <br />
                Memorija: 128GB UFS 3.1 2.1/1.2Gbps / 8GB LPDDR5 0.5V 6Gbps <br /> <br />
                <strong>CENA: 980€</strong>
                <br />
                <a href="http://www.telekoplus.com/mobilni-telefoni/samsung/galaxy-tab-s8-ultra-cena/" target="_blank">DETALJNIJE</a>
            </p>
        </div>
    </div>
</div>

<hr />

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <a href="https://www.samsung.com/global/galaxy/apps/samsung-members/" target="_blank">

                <img src="../Images/samsungmember.png" alt="SamsungMembership" style="float:right" width="200" height="200"></a> <br /> <br />
        </div>
        <div class="col-md-4">
            <h1>Budite uvek u toku uz Samsung Membership!</h1>
        </div>
        <div class="col-md-4">
            <a href="https://www.samsung.com/global/galaxy/apps/samsung-members/" target="_blank">

                <img src="../Images/samsungmember.png" alt="SamsungMembership" style="float:left" width="200" height="200">
            </a> <br /> <br />
        </div>
    </div>
</div>

<hr />

<h2 style="text-align:center"><i>NE PROPUSTITE!</i></h2>
<div class="container">
    <div class="row">
        <div class="col-md-3">
            <h3 style="text-align:center">
                Samsung Galaxy 21 5g
                <small>Samo 650€</small>
            </h3>
            <a href="http://www.telekoplus.com/mobilni-telefoni/samsung/galaxy-s21-ultra-5g-cena/" target="_blank">
                <img src="../Images/s21rozi.jpg" alt="s21" style="float:right" width="200" height="200"></a> <br />

        </div>

        <div class="col-md-3">
            <h3 style="text-align:center">
                Samsung Note 20 Ultra
                <small>Samo 700€</small>
            </h3>
            <a href="http://www.telekoplus.com/mobilni-telefoni/samsung/galaxy-note20-ultra-5g-cena/" target="_blank">
                <img src="../Images/snote.jpg" alt="snote" style="vertical-align: middle" width="200" height="200"></a> <br />

        </div>

        <div class="col-md-3">
            <h3 style="text-align:center">Samsung Galaxy Z Flip
                <small>Samo 1000€</small></h3>
            <a href="http://www.telekoplus.com/mobilni-telefoni/samsung/galaxy-z-flip-3-5g-cena/" target="_blank">
                <img src="../Images/zflip.jpg" alt="zflip" style="float:right" width="200" height="200"></a> <br /> <br />
        </div>

        <div class="col-md-3">
            <h3 style="text-align:center">Samsung Note 10 <br />
                <small>Samo 560€</small></h3>
            <a href="http://www.telekoplus.com/mobilni-telefoni/samsung/galaxy-note-10-plus-cena/" target="_blank">
            <img src="../Images/note10.jpg" alt="note10" style="float:right" width="200" height="200"></a> <br /> <br />
        </div>
    </div>
</div>





