
@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="prvi-deo-dashboard">
    <h2>Dashboard</h2>
    <h3 >-Dobrodosli na "MobileShop-SM!"-</h3>
</div>





